@model FornecedoresEmpresa.ViewModel.FornecedorViewModelAlterar

@{
    ViewData["Title"] = "Alterar Fornecedor";
    var nomeLista = nameof(Model.ListaTelefoneFornecedor);
    var contadorTelefone = 0;
    var prefixoDivId = "telefone";
}

@section scripts
{
    <script async src="~/js/fornecedor.js"></script>
    <script>
        $(document).ready(function () {
            escondeBotoes();

            $("#adicionarTelefone").on("click", function (event) {
                event.preventDefault();
                let nomeLista = "@nomeLista";
                let indice = $(".telefones").length;
                let divId = "@prefixoDivId" + indice;

                ajaxAdicionaTelefone(this.href, nomeLista, indice, divId);
            });

        });

        function escondeBotoes() {
            let i = 1;
            let indice = $(".telefones").length;
            while (i < indice - 1) {
                $(`#remover-telefone${i}`).hide();
                i++;
            }
        }
        
    </script>
}

<div class="row">
    <div class="col mb-3">
        <h2>Alterar Fornecedor</h2>
    </div>
</div>

@using (Html.BeginForm("Alterar", "Fornecedor", FormMethod.Post))
{
    <div class="form-group row">
        @Html.HiddenFor(m => m.TipoPessoa)
        @Html.LabelFor(m => m.TipoPessoa, new { @class = "col-form-label col-lg-2" })
        <div class="col-lg-3 col-4">
            @Html.DropDownListFor(m => m.TipoPessoa, Model.ListaTipoPessoa, new { @class = "form-control", id = "selectTipoPessoa", required = "true", disabled = "true" })
        </div>
    </div>

    <div id="itensFormulario" class="d-none">
        <div class="form-group row">
            @Html.LabelFor(m => m.Nome, new { @class = "col-form-label col-lg-2" })

            <div class="col-lg-5 col-10">
                @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.Nome)
            </div>
        </div>

        <div class="form-group row pessoa-fisica">
            @Html.LabelFor(m => m.Cpf, new { @class = "col-form-label col-lg-2" })

            <div class="col-sm-4 col-3">
                @Html.EditorFor(m => m.Cpf, new { htmlAttributes = new { @class = "form-control", type = "number" } })

                @Html.ValidationMessageFor(m => m.Cpf)
            </div>
        </div>

        <div class="form-group row pessoa-fisica">
            @Html.LabelFor(m => m.Rg, new { @class = "col-form-label col-lg-2" })

            <div class="col-sm-4 col-3">
                @Html.EditorFor(m => m.Rg, new { htmlAttributes = new { @class = "form-control", type = "number" } })

                @Html.ValidationMessageFor(m => m.Rg)
            </div>
        </div>

        <div class="form-group row pessoa-juridica">
            @Html.LabelFor(m => m.Cnpj, new { @class = "col-form-label col-lg-2" })

            <div class="col-sm-4 col-3">
                @Html.EditorFor(m => m.Cnpj, new { htmlAttributes = new { @class = "form-control", type = "number" } })

                @Html.ValidationMessageFor(m => m.Cnpj)
            </div>
        </div>

        <div class="form-group row pessoa-fisica">
            @Html.LabelFor(m => m.DataNascimento, new { @class = "col-form-label col-lg-2" })

            <div class="col-lg-3 col-4">
                @Html.EditorFor(m => m.DataNascimento, new { htmlAttributes = new { type = "date", @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.DataNascimento)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2 mt-5">
                <a class="btn btn-sm btn-success" href="@Url.ActionLink("AdicionarTelefone")" id="adicionarTelefone">+ Número</a>
            </div>

            <div class="col-lg-3 col-4 mt-5" id="telefonesDiv">
                @foreach (var telefone in Model.ListaTelefoneFornecedor)
                {
                    telefone.NomeLista = nomeLista;
                    telefone.Indice = contadorTelefone;
                    telefone.DivId = prefixoDivId + contadorTelefone;

                    {
                        await Html.RenderPartialAsync("_TelefoneFornecedor", telefone);
                    }

                    contadorTelefone++;
                }
            </div>
        </div>

        <div class="form-group row">
            <div class="col mt-4">
                <button class="btn btn-success" type="submit">Salvar</button>
            </div>
        </div>

    </div>
}

<div class="form-group row">
    <div class="col">
        <a class="btn btn-sm btn-secondary" href="@Url.ActionLink("Index")">Voltar</a>
    </div>
</div>
