@model FornecedoresEmpresa.ViewModel.FornecedorViewModelCadastro

@{
    ViewData["Title"] = "Cadastrar Fornecedor";
    var nomeLista = nameof(Model.ListaTelefoneFornecedor);
    var contadorTelefone = 0;
    var prefixoDivId = "telefone";
}

@section scripts
{
    <script async src="~/js/fornecedor.js"></script>
    <script>
        $(document).ready(function () {

            $("#adicionarTelefone").on("click", function (event) {
                event.preventDefault();
                let nomeLista = "@nomeLista";
                let indice = $(".telefones").length;
                let divId = "@prefixoDivId" + indice;

                ajaxAdicionaTelefone(this.href, nomeLista, indice, divId);
            });

        });
    </script>
}

<h1>Cadastrar Fornecedor</h1>

@TempData["Mensagem"]

@using (Html.BeginForm("Cadastrar", "Fornecedor", FormMethod.Post))
{
    @Html.LabelFor(m => m.Nome)

    @Html.EditorFor(m => m.Nome)

    @Html.ValidationMessageFor(m => m.Nome)

    @Html.LabelFor(m => m.Cpf)

    @Html.EditorFor(m => m.Cpf)

    @Html.ValidationMessageFor(m => m.Cpf)

    @Html.LabelFor(m => m.Rg)

    @Html.EditorFor(m => m.Rg)

    @Html.ValidationMessageFor(m => m.Rg)

    @Html.LabelFor(m => m.Cnpj)

    @Html.EditorFor(m => m.Cnpj)

    @Html.ValidationMessageFor(m => m.Cnpj)

    @Html.LabelFor(m => m.DataNascimento)

    @Html.EditorFor(m => m.DataNascimento)

    @Html.ValidationMessageFor(m => m.DataNascimento)

    <a href="@Url.ActionLink("AdicionarTelefone")" id="adicionarTelefone">addTel</a>

    <div id="telefonesDiv">
        @foreach (var telefone in Model.ListaTelefoneFornecedor)
        {
            telefone.NomeLista = nomeLista;
            telefone.Indice = contadorTelefone;
            telefone.DivId = prefixoDivId + contadorTelefone;

            {
                await Html.RenderPartialAsync("_TelefoneFornecedor", telefone);
            }

            contadorTelefone++;
        }
    </div>


    <button type="submit">Cadastrar</button>
}

<a href="@Url.ActionLink("Index")">Voltar</a>
