@model FornecedoresEmpresa.ViewModel.FornecedorViewModelIndex

@{
    ViewData["Title"] = "Fornecedores";
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#modalExcluir').on('shown.bs.modal', function (event) {
                let idFornecedor = event.relatedTarget.dataset.id;
                let href = "@Url.Action("Excluir","Fornecedor")/" + idFornecedor;
                $(this).find("#btnExcluir").attr("href", href);
            });
        });
    </script>
}

<div class="row">
    <div class="col">
        <a class="btn btn-success" href="@Url.ActionLink("Cadastrar")"> Novo Fornecedor </a>
    </div>
</div>

@using (Html.BeginForm("Filtrar", "Fornecedor", FormMethod.Post))
{
<div class="form-row">
    <div class="col-auto">
        @Html.LabelFor(m => m.Fornecedor.Nome, new { @class = "sr-only" })
        @Html.EditorFor(m => m.Fornecedor.Nome, new { htmlAttributes = new { @class = "form-control my-2 mt-5", placeholder = "Nome" } })
    </div>

    <div class="col-auto">
        <label for="@nameof(Model.Fornecedor.Cpf)" class="sr-only">CPF</label>
        @Html.EditorFor(m => m.Fornecedor.Cpf, new { htmlAttributes = new { @class = "form-control my-2 mt-5", placeholder = "CPF" } })
    </div>

    <div class="col-auto">
        <label for="@nameof(Model.Fornecedor.Cnpj)" class="sr-only">CNPJ</label>
        @Html.EditorFor(m => m.Fornecedor.Cnpj, new { htmlAttributes = new { @class = "form-control my-2 mt-5", placeholder = "CNPJ" } })
    </div>

    <div class="col-auto mt-3">
        <label for="@nameof(Model.Fornecedor.DataCadastro)">Data de Cadastro</label>
        @Html.EditorFor(m => m.Fornecedor.DataCadastro, new { htmlAttributes = new { type = "date", @class = "form-control" } })
    </div>

    <div class="col-auto mt-5">
        <input type="submit" value="Filtrar" class="btn btn-success" />
        <a href="@Url.Action("Index")" class="btn btn-primary">Resetar</a>
    </div>
</div>
}

<main class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo Pessoa</th>
                <th>CNPJ/CPF</th>
                <th>RG</th>
                <th>Data de Nascimento</th>
                <th>Telefones</th>
                <th>Data de Cadastro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fornecedor in Model.ListaFornecedor)
            {
                <tr>
                    <td>@fornecedor.Nome</td>
                    <td>@(fornecedor.Cnpj == null ? "Pessoa Física" : "Pessoa Jurídica")</td>
                    <td>@(fornecedor.Cnpj == null ? fornecedor.Cpf : fornecedor.Cnpj)</td>
                    <td>@fornecedor.Rg</td>
                    <td>@(fornecedor.DataNascimento.HasValue ? fornecedor.DataNascimento.Value.ToShortDateString() : "")</td>
                    <td>
                        @foreach (var telefone in fornecedor.Telefones)
                        {
                            @(telefone.Numero) <br>
                        }
                    </td>
                    <td>@fornecedor.DataCadastro.ToShortDateString()</td>
                    <td>
                        @Html.ActionLink("Alterar", "Alterar", new { id = fornecedor.Id }, new { @class = "btn btn-sm btn-secondary" })
                        <button type="button" data-toggle="modal" data-target="#modalExcluir" data-id="@fornecedor.Id" class="btn btn-sm btn-danger">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

<div class="modal" id="modalExcluir" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Fornecedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Quer realmente excluir esse Fornecedor?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a href="#" id="btnExcluir" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </div>
</div>
