@model FornecedoresEmpresa.ViewModel.EmpresaViewModelCadastro

@{
    ViewData["Title"] = "Cadastrar Empresa";
}

<h1>Cadastrar Empresa</h1>

@using (Html.BeginForm("Cadastrar", "Empresa", FormMethod.Post))
{
    @Html.LabelFor(m => m.NomeFantasia)

    @Html.EditorFor(m => m.NomeFantasia)

    @Html.ValidationMessageFor(m => m.NomeFantasia)

    @Html.LabelFor(m => m.Uf)

    @Html.EditorFor(m => m.Uf)

    @Html.ValidationMessageFor(m => m.Uf)

    @Html.LabelFor(m => m.Cnpj)

    @Html.EditorFor(m => m.Cnpj)

    @Html.ValidationMessageFor(m => m.Cnpj)

    @Html.LabelFor(m => m.ListaIdFornecedor)

    <select multiple name="@nameof(Model.ListaIdFornecedor)">
        @foreach (var fornecedor in Model.ListaFornecedor)
        {
            <option value="@fornecedor.Id">@fornecedor.Nome</option>
        }
    </select>

    <button type="submit">Cadastrar</button>
}

<a href="@Url.ActionLink("Index")">Voltar</a>
