@model FornecedoresEmpresa.ViewModel.EmpresaViewModelDetalhes

@{
    ViewData["Title"] = "Detalhes";
    var temFornecedores = Model.ListaFornecedor.Count() > 0;
}

<main>
    <div class="row">
        <div class="col mb-3">
            <h2>Detalhes da empresa @Model.NomeFantasia</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <strong>UF</strong>: @Model.Uf
        </div>
    </div>

    <div class="row">
        <div class="col">
            <strong>CNPJ</strong>: @Model.Cnpj
        </div>
    </div>

    <div class="row">
        <div class="col">
            <strong>Data de Cadastro</strong>: @Model.DataCadastro.ToShortDateString()
        </div>
    </div>

    <div class="row">
        <div class="col mt-5">
            <h3>Fornecedores</h3>
        </div>
    </div>

    @if (temFornecedores)
    {
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF/CNPJ</th>
                    <th>RG</th>
                    <th>Data de Nascimento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fornecedor in Model.ListaFornecedor)
                {
                    <tr>
                        <td>@fornecedor.Nome</td>
                        <td>@(fornecedor.Cnpj == null ? fornecedor.Cpf : fornecedor.Cnpj)</td>
                        <td>@fornecedor.Rg</td>
                        <td>@(fornecedor.DataNascimento.HasValue ? fornecedor.DataNascimento.Value.ToShortDateString() : "")</td>
                        <td>
                            @Html.ActionLink("Remover", "RemoverAssociacao", "Fornecedor", new { id = fornecedor.Id }, new { @class = "btn btn-sm btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (!temFornecedores)
    {
        <p>Não há fornecedores para serem mostrados</p>
    }

</main>

<a href="@Url.ActionLink("Index")" class="btn btn-sm btn-light">Voltar</a>
